server:
  port: 8081

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:clientesdb
    driver-class-name: org.h2.Driver # <--- Usa el driver-class-name
    username: sa
    password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update